@page "/dashboard"
@rendermode InteractiveAuto
@inject HttpClient HttpClient
@using System.Net.Http
@using System.Text
@inject IJSRuntime JSRuntime
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<h3>Dashboard</h3>
<p>Selected Date: @selectedDate</p>
<button class="btn btn-primary" @onclick="GenerateLink">Generate Link</button>

<InterviewCalendar OnDateClicked="HandleDateClicked" />
<GeneratedLinkModal GeneratedLink="@generatedLink" JSRuntime="@JSRuntime" />
@code {
    private string selectedDate;
    private string generatedLink;

    private void HandleDateClicked(DateTime dateClicked)
    {
        selectedDate = dateClicked.ToString("yyyy-MM-dd");
    }
    private async Task GenerateLink()
    {
        var generatedGuid = Guid.NewGuid().ToString();
        generatedLink = $"/calendar/book?code={generatedGuid}";

        await JSRuntime.InvokeAsync<object>("console.log", generatedLink);

        var content = new StringContent("", Encoding.UTF8, "application/json");
        var response = await HttpClient.PostAsync("/api/calendar/generate-link?guid=" + generatedGuid, content);

        if (response.IsSuccessStatusCode)
        {
            await JSRuntime.InvokeAsync<object>("console.log", "Success");
        }
        else
        {
            await JSRuntime.InvokeAsync<object>("console.log", "Error");
        }
    }
}

