@inject IJSRuntime JSRuntime
@inject HttpClient HttpClient

<div id="calendar"></div>

<EventModal>
    <ModalBody>
        <p><strong>Date:</strong> @selectedDate</p>
        <p>string: @ConnectString</p>
        @if (interviewsByDate != null && interviewsByDate.Any())
        {
            <ul>
                @foreach (var interview in interviewsByDate)
                {
                    <li>@interview.Title</li>
                }
            </ul>
        }
        else
        {
            <p>No interviews for this date.</p>
        }
    </ModalBody>
</EventModal>

<p>Код: @Code</p>

@code {
    private string selectedDate;
    private dynamic[] interviewsByCode;
    private dynamic[] interviewsByDate;
    private string ConnectString { get; set; }
    private List<int> addedInterviewIds = new List<int>();

    [Parameter]
    public string Code { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await GetInterviews();
            await JSRuntime.InvokeVoidAsync("initCalendar", DotNetObjectReference.Create(this), interviewsByCode);
        }
    }

    [JSInvokable]
    public async Task HandleDateClick(string selectedDate)
    {
        this.selectedDate = selectedDate;
        await GetInterviewsByDate();
        await JSRuntime.InvokeVoidAsync("openEventModal");
        StateHasChanged();
    }

    [Parameter]
    public EventCallback<DateTime> OnDateClicked { get; set; }

    private async Task GetInterviews()
    {
        await JSRuntime.InvokeAsync<object>("console.log", $"/api/calendar/interviewsByCode?code={Code}");

        var response = await HttpClient.GetAsync($"/api/calendar/interviewsByCode?code={Code}");

        if (response.IsSuccessStatusCode)
        {
            interviewsByCode = await response.Content.ReadFromJsonAsync<dynamic[]>();
        }
        else
        {
        }
    }
    private async Task GetInterviewsByDate()
    {
        var response = await HttpClient.GetAsync($"/api/calendar/interviewsByDate?selectedDate={selectedDate}&code={Code}");

        if (response.IsSuccessStatusCode)
        {
            var contentString = await response.Content.ReadAsStringAsync();
            ConnectString = contentString;

            //UpdateAddedInterviews();
        }
        else
        {
            
        }
    }
    private void UpdateAddedInterviews()
    {
        
        addedInterviewIds.Clear();

        if (interviewsByDate != null)
        {
            foreach (var interview in interviewsByDate)
            {
                addedInterviewIds.Add(interview.Id);
            }
        }
    }
}
